In [8]:
import pandas as pd
import streamlit as st

# ------------------------------
# 游닌 Carregar os dataframes
# ------------------------------
df_localidades = pd.read_csv("localidades.csv")
df_acidentes = pd.read_csv("acidentes.csv", low_memory=False)

In [2]:

# ------------------------------
# 游댌 Filtrar apenas para RO
# ------------------------------
df_localidades = df_localidades[df_localidades['uf'] == 'RO']
df_acidentes = df_acidentes[df_acidentes['uf_acidente'] == 'RO']

# ------------------------------
# 游늵 Agrupar acidentes por munic칤pio (IBGE)
# ------------------------------
df_acidentes_por_cidade = df_acidentes.groupby('codigo_ibge').size().reset_index(name='total_acidentes')

# Usar apenas uma linha 칰nica por cidade para pegar o nome
municipios_unicos = df_localidades[['codigo_ibge', 'municipio']].drop_duplicates(subset='codigo_ibge')

df_acidentes_por_cidade = pd.merge(
    df_acidentes_por_cidade,
    municipios_unicos,
    on='codigo_ibge',
    how='left'
)

df_acidentes_por_cidade.sort_values(by='total_acidentes', ascending=False, inplace=True)

In [3]:
df_acidentes_por_cidade

    codigo_ibge  total_acidentes                  municipio
16      1100205             5592                PORTO VELHO
11      1100122             1374                  JI-PARANA
21      1100304             1330                    VILHENA
3       1100049              971                     CACOAL
1       1100023              966                  ARIQUEMES
19      1100288              696             ROLIM DE MOURA
10      1100114              449                       JARU
15      1100189              405              PIMENTA BUENO
8       1100098              266            ESPIGAO D OESTE
14      1100155              263        OURO PRETO DO OESTE
9       1100106              185              GUAJARA-MIRIM
12      1100130              175         MACHADINHO D OESTE
0       1100015              174      ALTA FLORESTA D OESTE
22      1100320              158      SAO MIGUEL DO GUAPORE
31      1100809              143         CANDEIAS DO JAMARI
27      1100452              143                    BURITIS
4       1100056              127                 CEREJEIRAS
17      1100254              115          PRESIDENTE MEDICI
5       1100064              102          COLORADO DO OESTE
45      1101492               99   SAO FRANCISCO DO GUAPORE
13      1100148               95   NOVA BRASILANDIA D OESTE
24      1100346               94           ALVORADA D OESTE
34      1100940               93                    CUJUBIM
26      1100403               82               ALTO PARAISO
23      1100338               82                NOVA MAMORE
36      1101104               71            ITAPUA DO OESTE
7       1100080               60              COSTA MARQUES
25      1100379               59    ALTO ALEGRE DOS PARECIS
39      1101401               57                MONTE NEGRO
33      1100924               56                CHUPINGUAIA
48      1101609               54                  THEOBROMA
6       1100072               53                 CORUMBIARA
20      1100296               47        SANTA LUZIA D OESTE
46      1101500               47               SERINGUEIRAS
38      1101302               46           MIRANTE DA SERRA
28      1100502               44    NOVO HORIZONTE DO OESTE
49      1101708               37                      URUPA
50      1101757               32              VALE DO ANARI
40      1101435               31                 NOVA UNIAO
44      1101484               31         SAO FELIPE D OESTE
37      1101203               30         MINISTRO ANDREAZZA
47      1101559               25              TEIXEIROPOLIS
51      1101807               24            VALE DO PARAISO
2       1100031               22                     CABIXI
35      1101005               22  GOVERNADOR JORGE TEIXEIRA
43      1101476               22      PRIMAVERA DE RONDONIA
30      1100700               21     CAMPO NOVO DE RONDONIA
41      1101450               15                    PARECIS
18      1100262               14                 RIO CRESPO
42      1101468               12       PIMENTEIRAS DO OESTE
32      1100908               11               CASTANHEIRAS
29      1100601                9                CACAULANDIA

In [4]:
# Obter popula칞칚o 칰nica por munic칤pio
populacao_unica = df_localidades[['codigo_ibge', 'municipio', 'qtde_habitantes']].drop_duplicates(subset='codigo_ibge')

# Juntar popula칞칚o com acidentes
df_relativo = pd.merge(df_acidentes_por_cidade, populacao_unica, on=['codigo_ibge', 'municipio'], how='left')

# Remover munic칤pios com popula칞칚o inv치lida
df_relativo = df_relativo[df_relativo['qtde_habitantes'] > 0].copy()

# Calcular acidentes por mil habitantes
df_relativo['acidentes_por_mil_hab'] = (df_relativo['total_acidentes'] / df_relativo['qtde_habitantes']) * 1000

# Selecionar top 5 cidades com maior 칤ndice relativo
top5_relativo = df_relativo.sort_values(by='acidentes_por_mil_hab', ascending=False).head(5)

top5_relativo

,codigo_ibge,total_acidentes,municipio,qtde_habitantes,acidentes_por_mil_hab
2,1100304,1330,VILHENA,104517,12.725203
5,1100288,696,ROLIM DE MOURA,55748,12.484753
3,1100049,971,CACOAL,86416,11.236345
7,1100189,405,PIMENTA BUENO,37098,10.917031
1,1100122,1374,JI-PARANA,131026,10.486468

In [5]:
# -----------------------------------
# 游뚲 Gr치fico: Acidentes por mil ve칤culos
# -----------------------------------

# Obter frota total por munic칤pio (칰nico)
frota_unica = df_localidades[['codigo_ibge', 'municipio', 'frota_total']].drop_duplicates(subset='codigo_ibge')

# Juntar com os dados de acidentes
df_veiculos = pd.merge(df_acidentes_por_cidade, frota_unica, on=['codigo_ibge', 'municipio'], how='left')

# Filtrar munic칤pios com frota v치lida (> 0)
df_veiculos = df_veiculos[df_veiculos['frota_total'] > 0].copy()

# Calcular acidentes por mil ve칤culos
df_veiculos['acidentes_por_mil_veic'] = (df_veiculos['total_acidentes'] / df_veiculos['frota_total']) * 1000

# Selecionar Top 5 cidades com maior 칤ndice relativo
top5_veiculos = df_veiculos.sort_values(by='acidentes_por_mil_veic', ascending=False).head(5)
top5_veiculos

,codigo_ibge,total_acidentes,municipio,frota_total,acidentes_por_mil_veic
0,1100205,5592,PORTO VELHO,302563,18.482101
2,1100304,1330,VILHENA,72965,18.227917
14,1100809,143,CANDEIAS DO JAMARI,7994,17.888416
25,1101104,71,ITAPUA DO OESTE,3986,17.812343
7,1100189,405,PIMENTA BUENO,27043,14.976149

In [ ]:
''

,Unnamed: 0,chv_localidade,ano_referencia,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
46464,234864,RO1101609202201,2022,1,12022,NORTE,RO,1101609,THEOBROMA,nao,10348,4417,3508
46465,234865,RO1101484202201,2022,1,12022,NORTE,RO,1101484,SAO FELIPE D OESTE,nao,4962,3368,2675
46466,234866,RO0000000202201,2022,1,12022,NORTE,RO,0,NAO INFORMADO,nao,0,0,0
46467,234867,RO1100700202201,2022,1,12022,NORTE,RO,1100700,CAMPO NOVO DE RONDONIA,nao,14391,3535,2672
46468,234868,RO1101005202201,2022,1,12022,NORTE,RO,1101005,GOVERNADOR JORGE TEIXEIRA,nao,7130,4747,3748